<% provide(:title,@task.name) %>
<h1>タスク詳細ページ</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="active col-md-2"><%= Task.human_attribute_name :id %></th>
          <td><%= @task.id %></td>
          <th class="active col-md-2"><%= Task.human_attribute_name :name %></th>
          <td><%= @task.name %></td>
          <th class="active col-md-2"><%= Task.human_attribute_name :description %></th>
          <td><%= @task.description.present? ? @task.description : "未所属" %></td>
          <th class="active col-md-2"><%= Task.human_attribute_name :create_at %></th>
          <td><%= @task.created_at %></td>
          <th class="active col-md-2"><%= Task.human_attribute_name :updated_at %></th>
          <td><%= @task.updated_at %></td>
        </tr>
      </thead>

      <tbody>
        <tr>
          
        </tr>
      </tbody>
    </table>
  </div>    
</div>
