<header class="navbar navbar-fixed-top navbar-default" id=header>
  
  <div class="container">
    <%= link_to"Task App","/", id: "logo" %>
    <nav>
     <ul class="nav navbar-nav navbar-right">
        <li><%= link_to"トップ", "/" %></li>
        <li><%= link_to"ログイン","/login"%></li>
     </ul> 
    </nav>
  </div>
</header>
        <% if logged_in? %>
 <header class="navbar navbar-fixed-top navbar-default" id=header>
   <div class="container">
     <a id="logo" href="/">Task App</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path, class: "header-list" %></li>  
        <li><%= link_to "利用者一覧", new_user_path, class: "header-list" %> </li>
        <li><%= link_to "タスク作成",  new_user_task_path(current_user), class: "header-list" %></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle header-list" data-toggle="dropdown">
               <%= current_user.name %>
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li class="dropdown-header">ユーザー</li>
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "設定", '#' %></li>
               <li class="dropdown-header">タスク</li>
              <li><%= link_to "タスク一覧",user_tasks_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          
        <% end %>
      </ul>
    </nav>
  </div>
</header>
        
         
          
          
